- var name = relativePath;
- var path = ['M-22 564c60-113 120-226 203-179 83 47 189 254 303 278 114 24 235-135 349-133 114 2 221 166 359 129 139-37 310-275 469-282 159-7 307 216 455 439','M2097 324c-150 156-300 312-437 329-136 17-257-105-403-107-145-2-312 117-437 79-125-38-206-231-289-256-83-24-167 121-271 150-104 29-228-56-352-142','M-66 660c116-118 232-236 347-227 114 8 227 143 355 170 129 27 273-52 421-50 148 3 301 88 468 43 168-45 350-220 532-396'];
- var url = ["index","services","contacts","portfolio","reviews","news"];
- var texts = ["Головна","Послуги","Зв'язок","Портфоліо","Відгуки","Новини"];
- var Clases = ['active'];