include 0_base/mixins/_mixins.jade
include 0_base/mixins/_var.jade

doctype html
html(lang='ru', class="no-js")
	head
		+utf-8
		+author
		+ie
		+mobile
		+main
		//- +blocks
		title #{name}
	body
		.container.col-8d-h_center
			section.col-12d
				img(src="img/header.jpg").col-5d
				p.col-7d Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea rem pariatur ut quibusdam quaerat debitis repellendus in nemo dicta. Nihil non sapiente at optio debitis nulla accusamus cum expedita asperiores quidem dolor corrupti, aliquid reprehenderit voluptate quia facilis unde quae quas deleniti illo reiciendis, voluptatibus quo laborum. Fugiat voluptatum, facere.
			

		+libs